.pt-4{
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    line-height: 38px;
    color: rgba(0, 0, 0, 1) ;
}

.servicios{
    display: flex;
    justify-content:space-between;
    font-size:24px;
    line-height: 33px;
    align-items: center;
    flex-flow: wrap;
    color: #000000;;
}